{% extends "layouts/main.html" %}

    {% block breadcrumbs %}
      {% import "partials/breadcrumbs.html" as breadcrumbs %}
      {{ breadcrumbs.render({ 'Tutorial': '/tutorial' }) }}
    {% endblock %}

  {% block content %}
    {% raw %}

    <div role="main" class="container">

      <h1 id="the-angulardart-tutorial">Welcome to the AngularDart Tutorial</h1>
      <a href="tutorial/01-before-you-begin" class="btn btn-primary">Start here &raquo;</a><br /><br />

      <p>Also check out this <a href="https://github.com/nikgraf/exploring-angular.dart/blob/master/resources.md">list of resources</a>.</p>

      <table>
        <thead>
          <tr>
            <th style="text-align: left">Chapter</th>
            <th style="text-align: left">Briefly</th>
            <th style="text-align: left">Includes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: left"><a href="tutorial/01-before-you-begin">Before You Begin</a></td>
            <td style="text-align: left">Prerequisites</td>
            <td style="text-align: left">Links to downloads</td>
          </tr>
          <tr>
            <td style="text-align: left"><a href="tutorial/02-welcome-to-angular">Welcome to Angular</a></td>
            <td style="text-align: left">Overview</td>
            <td style="text-align: left">Angular, MVC, AngularJS, API docs</td>
          </tr>
          <tr>
            <td style="text-align: left">1: <a href="tutorial/03-ch01-creating-your-first-app">Creating Your First Angular app</a></td>
            <td style="text-align: left">A “Hello World” app</td>
            <td style="text-align: left"><code>ng-app</code>, <code>ngBootstrap()</code>, MVC, mustache syntax ( <code>{{...}}</code> ), Angular expressions, data binding</td>
          </tr>
          <tr>
            <td style="text-align: left">2: <a href="tutorial/04-ch02-controller">Something More than “Hello World”</a></td>
            <td style="text-align: left">A Recipe Book app</td>
            <td style="text-align: left">Scopes, models, controllers, NgController, <code>type()</code>, common properties (<code>selector</code>, <code>publishAs</code>), <code>ng-repeat</code>, <code>ng-click</code></td>
          </tr>
          <tr>
            <td style="text-align: left">3: <a href="tutorial/05-ch03-component"> Creating a Custom Component</a></td>
            <td style="text-align: left">A rating component for Recipe Book</td>
            <td style="text-align: left">NgComponent, properties (<code>selector</code> &amp; <code>publishAs</code> again, <code>templateUrl</code>, <code>cssUrl</code>), NgAttr, NgOneWay, NgTwoWay, component vs. controller, <code>ng-if</code>, <code>ng-class</code></td>
          </tr>
          <tr>
            <td style="text-align: left">4: <a href="tutorial/06-ch04-directive"> Creating a Custom Directive</a></td>
            <td style="text-align: left">Tooltips for Recipe Book</td>
            <td style="text-align: left">NgDirective, custom element attributes, DOM manipulation, table comparing NgController &amp; NgDirective &amp; NgComponent</td>
          </tr>
          <tr>
            <td style="text-align: left">5: <a href="tutorial/07-ch05-filter-service">Introducing Filters and Services</a></td>
            <td style="text-align: left">Filtering recipes by category, fetching data</td>
            <td style="text-align: left">Built-in and custom filters, the Http service, displaying a “Loading…” message, <code>ng-cloak</code></td>
          </tr>
          <tr>
            <td style="text-align: left">6: <a href="tutorial/08-ch06-view">Creating Views</a></td>
            <td style="text-align: left">Reorganizing the app, customizing URLs</td>
            <td style="text-align: left">App structure, view-specific components, changing the app URL, Router, ViewFactory, <code>addRoute()</code>, <code>ng-view</code></td>
          </tr>
          <tr>
            <td style="text-align: left">7: <a href="tutorial/09-ch07-deploying-your-app">Deploying Your App</a></td>
            <td style="text-align: left"><em>(Draft version)</em></td>
            <td style="text-align: left">Minification, @MirrorsUsed, performance, code generation, cross-browser support</td>
          </tr>
        </tbody>
      </table>
      <br />
      <ul class="pager">
        <li class="next"><a href="tutorial/01-before-you-begin">Next &raquo;</a></li>
      </ul>

    </div><!-- /.container -->

    {% endraw %}
  {% endblock %}