      <div class="jumbotron">
        <div class="container">
          <h1>AngularDart</h1>
          <h3><span class="inner">A Web Framework for <span class="icon">Dart</span></span></h3>
          <a class="btn btn-primary btn-lg" role="button" href="/demo">See it in action</a>
          <a class="btn btn-primary btn-lg" role="button" href="tutorial/index.html">Try AngularDart</a>
          <a href="#" class="banner">Want to Help? Contribute here!</a>
          <p>Not what you're looking for? Learn more about <a href="http://www.angularjs.org" target="_blank">AngularJS &raquo;</a></p>
        </div><!-- /.container -->
      </div><!-- /.jumbotron -->